<section class="otherPet">
    <h3>Name: Gosho</h3>
    <p>Category: Cat</p>
    <p class="img"><img src="https://pics.clipartpng.com/Cat_PNG_Clip_Art-2580.png"></p>
    <p class="description">This is not my cat Gosho</p>
    <div class="pet-info">
        <a href="#"><button class="button"><i class="fas fa-heart"></i> Pet</button></a>
        <a href="#"><button class="button">Details</button></a>
        <i class="fas fa-heart"></i> <span> 2</span>
    </div>
</section>